@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Cardiff Restaurants";
}

<div class="container">
    <div class="page-header">
        <h1><b>Cardiff Restaurants</b></h1>
        <img src="~/images/restaraurantsCardiff.png" />
    </div>
</div>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span>
                <button class="rounded border-secondary">
                    <img src="~/images/search.svg" class="btn btn-default" />
                </button>
            </span>

        </div>
    </div>
</form>
<a asp-page="./Edit" class="btn btn-md">
    <img src="~/images/add.svg" class="rounded-circle" />
</a>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}
<div>@Model.Message</div>