@page
@{
    ViewData["Title"] = "NotFound";
}

<h2><b>Restaurant was not found</b></h2>
<img src="~/images/notfoundrest.png">
<a asp-page="./List" class="btn rounded border-secondary">See all available Restaurants here</a>

